<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.yehsmart.com/version/download/download.do?fileName=%2Fios%2F2017%2F01%2F19%2Fbc973857ff934aed800c907345c12ae9.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://www.yehsmart.com/version/download/download.do?fileName=%2Fios%2F2017%2F01%2F19%2Fc863d5d6d31f4a7fbf15fb3f8b8b7383.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://www.yehsmart.com/version/download/download.do?fileName=%2Fios%2F2017%2F01%2F19%2F8f244f076cb44203996f704a2f418b66.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ut.utsmarthome</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SmartApp</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>